.container {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 0px;
  background: #000000;
  min-height: 100vh;
  min-width: 185vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
